* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin: 0;
}

button {
      font-family: 'Montserrat', sans-serif;
}