*,
::before,
::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
      --label-bc: #e39c5596;
      --bc-card: #00000006;
      --size-section-title: 2rem;
}

body {
      font-family: 'Montserrat', sans-serif;
      background-color: whitesmoke;
      width: 1200px;
      margin: 0 auto;
      position: relative;
}


.m__title {

      text-align: center;
      position: relative;
      font-size: 38px;
      inline-size: 95%;
      display: flex;
      justify-content: center;
      /* // align-items: center; */

}

.m__description {
      font-size: 1.25rem;
      inline-size: 95%;
      color: #737b7d;
      line-height: 2rem;
}

img {
      object-fit: contain;
}

button {
      font-family: 'Montserrat', sans-serif;
}



.txt__button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 16.5px;
      font-weight: 700;
      background: none;
      border: none;
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      color: black;
      padding: 0 14px;
      cursor: pointer;
}

.txt_bt__icon {
      font-size: 30px;
      color: rgba(0, 0, 0, 0.984);
}


.style__button {
      text-decoration: none;
      width: 45%;
      padding: 10px 10px;
      font-weight: bold;
      font-size: 13px;
      border: none;
      background-color: #090909e0;
      color: #fffffff0;
      border-radius: 4px;
      text-align: center;
}

.section__padding {
      margin-bottom: 5rem;
}

/* @media all and (min-width: 768px) {
      .__description {
            font-size: 22px;
            line-height: 38px;
      }
} */