*,
::before,
::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Montserrat', sans-serif;
      background-color: whitesmoke;
      width: 1450px;
      margin: 0 auto;
}

.m__description {
      font-size: 1.25rem;
      inline-size: 95%;
      color: #737b7d;
      line-height: 2rem;
}

img {
      object-fit: contain;
}

button {
      font-family: 'Montserrat', sans-serif;
}

.section__padding {
      margin-bottom: 5rem;
}

/* @media all and (min-width: 768px) {
      .__description {
            font-size: 22px;
            line-height: 38px;
      }
} */